$primary: #0041c3; 
$primaryOpacity: #0041c345;

// $primary: #A6F750; 
// $primaryOpacity: #a6f75045;
// $secondary: #206AFF;

$text: #fffbf0;

$redAlert: #ff0000;

$primaryBackground: #0c0e11;
$secondaryBackground: #0F1216;